<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
  <%- include('partials/skills') %>
  <%- include('partials/portfolio') %>
  <%- include('partials/footer') %>
</body>
</html> 

