
<!DOCTYPE html>
<html lang='en'>
  <%- include('../partials/head') %>
  <body id='index-overflow-wrapper'>
    <main id='port-main'>
      <%- include('../partials/nav') %>
      <%- include('../partials/backgroundSVGBody') %>
      
      <main id='index-project-wrapper'>
        <%- include('../partials/projects/peddle.ejs') %>
        <%- include('../partials/projects/NYDE.ejs') %> 
        <%- include('../partials/projects/VSON.ejs') %> 
        <%- include('../partials/projects/moodvie.ejs') %>
        <%- include('../partials/projects/portfolio.ejs') %> 
      </main>
    
  
    
    <script src='events.js'></script>
  </body>
</html> 

