
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <main id="index-main">
      <main id='index-main'>
    
      <%- include('../partials/nav', {link: link}) %>
      <%- include('../partials/svgBody') %>

      <%- include('../partials/projects/nycGeo.ejs') %>
      <%- include('../partials/projects/reactive.ejs') %>
      <%- include('../partials/projects/portfolio.ejs') %> 
      <%- include('../partials/projects/NYDE.ejs') %> 
        
    </main>
    </main>
  </body>
</html> 

