
<!DOCTYPE html>
<html lang='en'>
  <%- include('../partials/head') %>
<body id='index-overflow-wrapper'>
  <main id='index-main-wrapper'>
    
    <%- include('../partials/backgroundSVGHeader') %>
    
    <%- include('../partials/header') %>
    <%- include('../partials/backgroundSVGBody') %>
    <main id='index-project-wrapper'>
      <%- include('../partials/projects/peddle.ejs') %>
      <%- include('../partials/projects/NYDE.ejs') %> 
      <%- include('../partials/projects/VSON.ejs') %> 
      <%- include('../partials/projects/moodvie.ejs') %>
      <%- include('../partials/projects/portfolio.ejs') %> 
    </main>
  </main>
 
  
  
</body>
</html> 

