<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/backgroundSVGHeader') %>
  <%- include('../partials/backgroundSVGBody') %>
  <%- include('../partials/header') %>
  <%- include('../partials/projects/peddle.ejs') %>
  <%- include('../partials/projects/NYDE.ejs') %>
  <%- include('../partials/projects/VSON.ejs') %>
  <%- include('../partials/projects/moodvie.ejs') %>
  <%- include('../partials/projects/portfolio.ejs') %>
</body>
</html> 

